<h3>Equipment</h3>
<ul>
  <!-- <li *ngFor="let name of equipment"> -->

    <!-- <span *ngIf="equipmentBeingEdited !== member; else elseBlock">
       <!-- display state of member -->
       <!-- <span (click)="edit(member)" class="editable-text">{{equipment.name}}</span>
       <button (click)="remove(member)">remove</button>
    </span>

    <ng-template #elseBlock>
       <!-- edit state of member -->
       <!-- <input #updatedName (keyup.enter)="save(updatedName.value, member)" value="{{member.name}}"/>
 <button (click)="save(updatedName.value, member)">save</button>
    </ng-template>

 </li> -->
 <li *ngFor="let member of equipment">
   <button (click)="addItem(member)" [disabled]="disableButton" [style.backgroundColor]="buttonColor">Add to Cargo Hold</button> {{member.name}}
  <button (click)="remove(member)">remove</button> </li>
</ul>
<input #name type="text"/>
<button (click)="add(name.value)">Add</button>
<h2>Cargo Hold: {{cargoHoldArray.length}}/10 Spots Filled</h2>
<li *ngFor="let cargo of cargoHoldArray">
{{cargo}}
</li>
<h4>Mass in Hold: {{cargoMass}}</h4>
<div class = "MassBudget">
   <h4 [class.nearMaxMass] = "disableButton">Mass Budget Remaining: </h4>
   <button (click)="empty()">Empty Hold</button>
</div>